.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.App body {
  font-family: arial, sans-serif;
}



.App h1 {
  color: #7c7c7c;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}

.App ul {
  margin: 0 0 10px;
  padding: 0;
}

.App li {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 100;

  height: 19px;
  line-height: 1;
  list-style: none;
}


.App li::first-letter{
  text-transform: capitalize;
}

.App .weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.App .weather-app-wrapper{
    max-width: 600px;
    margin: 30px auto;

}

.App .overview{
    margin-bottom: 20px;
    text-align: left;
}

.App .weather-temperature img{

    margin-right:5px ;
    height: 64px;
    width: 64px;
}

.App .weather-temperature strong {
    color: rgb(33,33,33);
    font-size: 64px;
    /* line-height: 1px; */
    font-weight: 400px;
}

.App .weather-temperature .units{
    position: relative;
    font-size: 16px;
    top: -32px;

}

.App .weather-temperature .active{
    color: rgb(33,33,33);
    cursor: default;
}

.App .weather-temperature .active:hover{
    text-decoration: none;
}

.App .top-links{
  text-align: left;
  padding-left: 0;
  font-weight: lighter;
  font-size: medium;
}

