.WeatherSearch {
  border: 2px solid #dadeda;
  color: rgb(135, 135, 135);
  padding: 16px;
  border-radius: 4px;
}

.WeatherSearch .temperature {
  font-size: 64px;
  /* font-weight: bold; */
  line-height: 54px;
  font-weight: 500;
  color: rgb(33, 33, 33);
  margin-left:10px;  
}

.WeatherSearch .unit {
  font-size: 16px;
  line-height: 1;
  top: -34px;
  font-weight: 400;
  color: rgb(33, 33, 33);
  position: relative;
  margin-left: 5px;
}

.WeatherSearch form {
  margin-bottom: 20px;
} 

.WeatherSearch h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0; 
    /* color: #272142;
    font-size: 38px;
    font-weight: 700;
    line-height: 29px;
    line-height: 48px;
    margin: 20px 0 10px; */
}


.WeatherSearch ul {
  margin: 0;
  padding: 0;
}
.WeatherSearch li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}



.WeatherSearch  h1{
 
  color: #7c7c7c;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}

.WeatherSearch .btn {
    background: #885df1;
    border: none;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    padding: 15px 0;
}


.WeatherSearch .form-control {
    background: #f9f7fe;
    border: none;
    border-radius: 6px;
    color: rgba(39,33,66,.4);
    display: inline-block;
    font-size: 16px;
    height: 50px;
    line-height: 20px;
    padding: 15px 20px;
}




