.WeatherForecast{
    text-align: center;
}

 .WeatherForecast-temperature-min{
    opacity:0.6;
    margin-left:5px;
}

.WeatherForecast .forecast-temperature {
    color: #f65282;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
}